@import "bootstrap";

body {
  background: image_url('swirl_pattern.png')
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #398ED9;
    border-radius: 0.3rem;
}

h1 {
  color: white;
}

p {
    color: white;
}

